/* Ensuring borders and padding are included in the element's total width and height */
*{
    box-sizing:border-box;
    margin:0%;
    padding:0%;
}
/* Giving background color to body */
body{
    background-color: rgb(242, 188, 213);
}
/* Styling the main container */
.divclass{
    margin-left:25vw;
    margin-right:25vw;
    margin-top: 10vh;
    margin-bottom: 10vh;
}
/* Styling the image */
.imagestyling{
    display:block;
    vertical-align: bottom;
    width:50vw;
    height:60vh;
    object-fit:cover;
}
/* Styling the button */
.buttonstyling{
    background-color: rgb(203, 49, 74);
    color: white;
    text-decoration: underline;
    
    display:block;
    margin: 0;
    width:50vw;
    height:20vh;
    font-size: 2.5vw;
}
